<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2b47d759-7ab3-4f73-bb18-c84665c07096/resourceGroups/mobilus-app-prod/providers/Microsoft.Web/sites/apiprodutosmobilus</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiprodutosmobilus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>72c1fa39-3133-4cfc-97a9-80f3adfd965f</ProjectGuid>
    <PublishUrl>https://apiprodutosmobilus.scm.azurewebsites.net/</PublishUrl>
    <UserName>$apiprodutosmobilus</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>